{% load static %}
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
             
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Hello! I'm a passionate web and app developer with a strong background in creating innovative and user-friendly digital solutions. With a deep love for coding and problem-solving, I strive to build exceptional websites and applications that not only meet the needs of my clients but also leave a lasting impression on users.</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="openTab('skills')">Skills</p>
                    <p class="tab-links" onclick="openTab('experience')">Experience</p>
                    <p class="tab-links" onclick="openTab('education')">Education</p>
                    <p class="tab-links" onclick="openTab('accomplishment')">Accomplishment</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>UI/UX</span><br>Designing Web/App interfaces</li>
                        <li><span>Web Development</span><br>Web app Development</li>
                        <li><span>App Development</span><br>Building Android Apps</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2020-2022</span><br>Android App Development</li>
                        <li><span>2018-2019</span><br>ERP Software Developer</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2018</span><br>Computer Engineering</li>
                    </ul>
                </div>
                <div class="tab-contents" id="accomplishment">
                    <ul>
                        <li><span>2023</span><br>Programming in Python from Coursera</li>
                        <li><span>2023</span><br>Django Framework from Coursera</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
