{% load static %}
<div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-brands fa-android"></i>
                    <h2>App Development</h2>
                    <p>Creating innovative Android applications that captivate and engage users is our specialty. With a deep understanding of the latest trends and technologies, we craft seamless, user-friendly, and visually stunning apps that deliver exceptional experiences.</p>
                    
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Development</h2>
                    <p>Unlock the potential of web development with Python and Django from a dedicated solo developer. I specialize in crafting dynamic and responsive web applications that align perfectly with your requirements. Leveraging the efficiency of Django, I bring your ideas to life through elegant design, powerful functionality, and optimal performance. Let's work together to create a standout web presence that serves your goals and captures the essence of your vision.</p>
                   

                </div>
                <div>

                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>UI/UX Design</h2>
                    <p>Crafting exceptional UI/UX designs using Figma, I specialize in creating captivating visuals for mobile app experiences. With a keen eye for detail and a deep understanding of user behavior, I design intuitive interfaces that engage and delight users. From wireframes to interactive prototypes, I bring your app concept to life, ensuring it's not just visually appealing but also user-friendly and efficient. Together, we'll create mobile app designs that leave a lasting impression, delivering a seamless and enjoyable experience for your users.</p>
                    
                </div>
                <div>

                    <i class="fa-solid fa-code"></i>
                    <h2>Design & Animation </h2>
                    <p>Mastering the art of design and animation through HTML and CSS, I breathe life into web pages. Combining creativity with coding, I create visually stunning designs that are both responsive and interactive. From elegant layouts to eye-catching transitions, every element is carefully crafted to engage visitors. With a passion for innovation, I leverage the latest techniques and trends in CSS to create unique animations that captivate and tell a story. Let's transform your website into a dynamic masterpiece, leaving a memorable impression on every user that explores its captivating design and seamless animations.</p>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- ----------PORTFOLIO--------- -->
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Works</h1>
            <div class="work-list">
                <video width="340" height="340" controls>
                    <source src="{% static 'css/video/smokerevl.mp4' %}" type="video/mp4">
                   
                </video>
                <video width="340" height="340" controls>
                    <source src="{% static 'css/video/responsive.mp4' %}" type="video/mp4">
                   
                </video>
               
                
                
                  
                    
                        <video width="340" height="340" controls>
                            <source src="{% static 'css/video/glowingbutton.mp4' %}" type="video/mp4">
                           
                        
                        
                    
                </div>
            </div>
            
        </div>
    </div>