{% load static %}
<div id="header">
  <div class="container">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about" class="scroll-link">About</a></li>
        <li><a href="#services" class="scroll-linkservices">Services</a></li>
        <li><a href="#portfolio" class="scroll-portfolio">Portfolio</a></li>
        <li><a href="#contact" class="scroll-contact">Contact</a></li>
        <i class="fas fa-times"></i>
      </ul>
      <i class="fas fa-bars"></i>
    </nav>
    
    <div class="header-text">
      <div class="content">
        <p>App developer & web developer</p>
        <h1>Hi, I'm <span>ProgGenius</span></h1>
      </div>
      <div class="logo-container">
        <img src="https://vercel.com/naheda1718/portfolio/static/css/images/logo.jpg" class="logo"></img>
      </div>
    </div>
  </div>
</div>
